* {
  margin: 0;
  padding: 0;
}

body {
  background: #f7f7f7;
}

#container {
  width: 550px;
  height: 550px;
  margin: auto;
  border: 10px solid #333;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
